<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315757029919-bf59vs7fv8d03s712anoog79hnefsvuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315757029919-bf59vs7fv8d03s712anoog79hnefsvuh</string>
	<key>API_KEY</key>
	<string>AIzaSyCvpJ5EAJf77wMuQHjhVnpOlZEDk6OMRnc</string>
	<key>GCM_SENDER_ID</key>
	<string>315757029919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chaewon.TwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-484d7</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-484d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:315757029919:ios:362a59cec920da30d1432a</string>
	<key>DATABASE_URL</key>
	<string>https://twittertutorial-484d7.firebaseio.com</string>
</dict>
</plist>
